<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body STYLE="background-color:lime green">
<h1> welcome to django templates </h1>
<form method="get" action="read">
<table>
<tr>
    <th>Name</th>
    <td><input type="text" name="txt name" required/></td>
</tr>
<tr>
    <th>Age</th>
    <td><input type="number" name="txtage"/></td>
</tr>
<tr>
    <th>Email</th>
    <td><input type="email" name="txtemail"/></td>
</tr>
<tr>
    <th>Mobile</th>
    <td><input type="number" name="txtnumber"/></td>
</tr>
<tr>
    <th>place</th>
    <td><input type="text" name="txtplace"/></td>
</tr>
<tr>
    <td><input type="submit"></td>
</tr>
</table>

</form>
</body>
</html>